<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>


    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">닉네임</th>
                <th scope="col">학번</th>
                <th scope="col">학과</th>
                <th scope="col">전화번호</th>
                <th scope="col">활성화 여부</th>
                <th scope="col">권한</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a th:href="@{|/manage/posts/${user.id}|}"
                th:text="${user.name}"></a></td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.studentId}"></td>
                <td th:text="${user.major.name}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.status}"></td>
                <td th:text="${user.userRole}"></td>
                <td>
                    <button class="btn btn-primary float-end" type="button">비활성화</button>
                </td>
                <td>
                    <button class="btn btn-primary float-end" type="button">활성화</button>
                </td>
                <td>
                    <button class="btn btn-primary float-end" type="button">
                        <a th:href="@{|/manage/comments/${user.id}|}" style="color: white">댓글</a>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>