<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="max-width: 1500px">
  <div class="py-5 text-center">
    <h2>배너</h2>
    <p class="btn btn-secondary rounded-pill px-3" type="button">
      <a th:href="@{|/manage|}" style="color: white">Home</a>
    </p>
    <p>배너는 최신순으로 정렬되어 있습니다.</p>
  </div>

  <hr class="my-4">
  <div>
    <form method="post" th:object="${object}" th:action="@{|/manage/banner/add|}" enctype="multipart/form-data">
      <input type="file" class="input-group" th:field="*{imageFile}">
      <input type="text" th:field="*{redirectUrl}" placeholder="redirect Url을 입력하세요">
      <button class="btn btn-primary" type="submit">추가</button>
    </form>

    <ul style="list-style: none">
      <li th:each="banner : ${banners}" style="float: left">
        <div class="card" style="width: 18rem;">
          <img th:src="${banner.url}" class="card-img-top">
          <div class="card-body">
            <h5>Redirect URL</h5>
            <p class="card-text" th:text="${banner.redirectUrl}"></p>
            <form method="post" th:action="@{|/manage/banner/${banner.id}/delete|}">
              <button class="btn btn-primary" type="submit">삭제</button>
            </form>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>

</body>
</html>