<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout('관리자 페이지 :: 귀향버스', ~{::section})}">
<body>
<section>
    <div class="py-5 text-center">
        <h2>귀향버스 목록</h2>
        <div class="d-flex gap-2 justify-content-center py-5">
            <p class="btn btn-secondary rounded-pill px-3" type="button">
                <a th:href="@{|/manage|}" style="color: white">홈으로</a>
            </p>
        </div>
    </div>

    <hr class="my-4">
    <h4>버스 신규 등록</h4>
    <div>
        <form th:action="@{/manage/home-bus}" th:method="POST" style="display:flex">
            <div class="input-group mb-3">
                <a>라벨 : </a>
                <div class="label_input">
                    <input type="text" name="label" placeholder="대전1호" >
                </div>
            </div>
            <div class="input-group mb-3">
                <a>경로 : </a>
                <div class="path_input">
                    <input type="text" name="path" placeholder="죽전,서울,대전" >
                </div>
            </div>
            <div class="input-group mb-3">
                <a>목적지 : </a>
                <div class="destination_input">
                    <input type="text" name="destination" placeholder="대전" >
                </div>
            </div>
            <div class="input-group mb-3">
                <a>총 좌석 : </a>
                <div class="total_seats_input">
                    <input type="text" name="totalSeats" placeholder="45" >
                </div>
            </div>
            <div class="add_home_bus">
                <input type="submit" class="btn btn-primary" id="btn-login" value="등록">
            </div>
        </form>
    </div>

    <hr class="my-4">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Label</th>
                <th scope="col">경로</th>
                <th scope="col">목적지</th>
                <th scope="col">총 좌석</th>
                <th scope="col">승인 대기 수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="homeBus : ${homeBus}">
<!--                <td th:text="${homeBus.id}"></td>-->
                <td>
                    <a th:href="@{|/manage/home-bus/${homeBus.id}|}"
                        th:text="${homeBus.id}"/>
                </td>
                <td th:text="${homeBus.label}"></td>
                <td th:text="${homeBus.path}"></td>
                <td th:text="${homeBus.destination}"></td>
                <td th:text="${homeBus.totalSeats}"></td>
                <td th:text="${homeBus.needApprovalCnt}"></td>
                <td>
                    <form method="post" th:action="@{|/manage/home-bus/${homeBus.id}/delete|}">
                        <button class="btn btn-primary" type="submit">삭제</button>
                    </form>
                </td>
                <td>
                    <form method="get" th:action="@{|/manage/home-bus/${homeBus.id}|}">
                        <button class="btn btn-primary" type="submit">관리</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>