<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout('관리자 페이지 :: 게시글', ~{::section})}">
<body>
<section>
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
        <div class="d-flex gap-2 justify-content-center py-5">
            <p class="btn btn-secondary rounded-pill px-3" type="button">
                <a th:href="@{|/manage|}" style="color: white">홈으로</a>
            </p>
        </div>
    </div>

    <form method="get" th:action="@{/manage/posts}">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="submit">전체</button>
            <button class="btn btn-outline-secondary" type="submit" name="type" value="Voc">VOC</button>
            <button class="btn btn-outline-secondary" type="submit" name="type" value="GeneralForum">자유게시판</button>
            <button class="btn btn-outline-secondary" type="submit" name="type" value="Petition">청원게시판</button>
            <button class="btn btn-outline-secondary" type="submit" name="status" value="BLINDED">블라인드게시물</button>
            <button class="btn btn-outline-secondary" type="submit" name="status" value="DELETED">삭제게시물</button>
            <button class="btn btn-outline-secondary" type="submit" name="status" value="ACTIVE">활성게시물</button>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <form method="get" th:action="@{/manage/posts}">
            <div class="input-group mb-3">
                <input type="text" name="keyword" class="form-control" placeholder="키워드">
                <button class="btn btn-outline-secondary float-end" type="submit" id="button-addon2">찾기</button>
            </div>
        </form>

        <nav aria-label="Page navigation example">
            <ul class="pagination"
                th:with="start=${(posts.number/maxPage)*maxPage + 1}, end = ${(posts.totalPages == 0) ? 1 : ((start + (maxPage - 1) < posts.totalPages) ? (start + (maxPage - 1)) : posts.totalPages)}">
                <li class="page-item" th:if="${start > 1}">
                    <a class="page-link"
                       th:href="@{|/manage/posts?page=0&keyword=${keyword}&type=${type}&status=${status}|}"
                       th:text="'<<'"></a>
                </li>
                <li class="page-item" th:if="${start > 1}">
                    <a class="page-link"
                       th:href="@{|/manage/posts?page=${start - maxPage - 1}&keyword=${keyword}&type=${type}&status=${status}|}"
                       th:text="'<'"></a>
                </li>

                <li class="page-item" th:each="page : ${#numbers.sequence(start, end)}">
                    <a class="page-link"
                       th:href="@{|/manage/posts?page=${page - 1}&keyword=${keyword}&type=${type}&status=${status}|}"
                       th:text="${page}"></a>
                </li>

                <li class="page-item" th:if="${end < posts.totalPages}">
                    <a class="page-link"
                       th:href="@{|/manage/posts?page=${start + maxPage - 1}&keyword=${keyword}&type=${type}&status=${status}|}"
                       th:text="'>'"></a>
                </li>
                <li class="page-item" th:if="${end < posts.totalPages}">
                    <a class="page-link"
                       th:href="@{|/manage/posts?page=${posts.totalPages - 1}&keyword=${keyword}&type=${type}&status=${status}|}"
                       th:text="'>>'"></a>
                </li>
            </ul>
        </nav>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성일</th>
                <th scope="col">상태</th>
                <th scope="col">신고 횟수</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a th:href="@{|/manage/posts/${post.id}|}"
                       th:text="${post.title}"></a></td>
                <td th:text="${post.createdAt}"></td>
                <td th:text="${post.status}"></td>
                <td th:text="${post.reportCount}"></td>
                <td>
                    <div class="btn-group">
                        <form method="post" th:action="@{|/manage/posts/${post.id}/activate|}">
                            <button class="btn btn-primary me-md-2" name="userId" th:value="${post.userId}"
                                    type="submit">활성화
                            </button>
                        </form>
                        <form method="post" th:action="@{|/manage/posts/${post.id}/blind|}">
                            <button class="btn btn-primary me-md-2" name="userId" th:value="${post.userId}"
                                    type="submit">블라인드
                            </button>
                        </form>
                        <form method="post" th:action="@{|/manage/posts/${post.id}/delete|}">
                            <button class="btn btn-primary me-md-2" name="userId" th:value="${post.userId}"
                                    type="submit">삭제
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>